<div class="ui centered grid">
  <div class="row"></div>
  <div class="row">
    <div class="four wide column">
      <h2 class="ui teal image header">
        <div class="content">Complete form to Sign Up</div>
      </h2>

      <%= render 'shared/errors' %>

      <%= form_tag '/users/update', class: 'ui large form' do %>
        <%= render 'shared/fields' %>
      <% end %>
    </div>
  </div>
</div>
